.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /*Tres columnas con tamaños flexibles*/
    gap:10px; /*Espacio entre celdas*/
}

.item{
    background-color: rgb(42,102,122);
    padding:20px;
    text-align: center;
    font-size: 1.5rem; /*Por cada rem son 16 pixeles. Son renderizables: se adaptan al tamaño de la pantalla*/
}

@media(min-width:675px){
    .container{
        grid-template-columns: 1fr;
    }
}